.anyListing {
    background-color: red
}


.selectedListing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 40px 0 40px 0;
    z-index: 10000;
}

