.listings {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.map {
    background-color: yellowgreen;
}

.listings-parent {
    margin: 0 20px;
}

.anyListing {
    height: 200px;
    border: 1px solid grey;
    border-bottom: 3px solid blue;
    margin-bottom: 10px;
}

.listing-data {
    padding-left: 10px;
}

.selectedListing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 40px 0 40px 0;
    z-index: 10000;
}

