.map {
    background-color: lightblue;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.listings-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid lightgray;
}

.listings-parent {
    background-color: transparent;
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: lightgray;
    column-gap: 10px;
    padding: 20px;
}

.listings-title {
    display: block;
    font-family: "Open Sans", Gotham, gotham, Tahoma, Geneva, sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding: 20px;
}

.listing-child {
    border: 1px solid gray;
    margin-bottom: 10px;
}

.listing-index-item {
    font-family: "Open Sans",Gotham,gotham,Tahoma,Geneva,sans-serif;
    height: 100px;
    border-bottom: 3px solid #006AFF;
    padding-left: 12px;
    cursor: pointer;
}

.selectedX {
    position: absolute;
    right: 0;
    font-size: 40px;
    cursor: pointer;
}

.listing-item-picture {
    // object-fit: cover;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.listing-index-item-price {
    font-size: 20px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 0;
}

.listing-index-item-info {
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
}

.listing-index-item-address {
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}


//selectedListing
// .selectedListing-container {
//     background: rgba(0, 0, 0, 0.5);
// }

.selectedLine {
    width: 98%;
    color: gray;
    margin-bottom: 40px;
}

.selectedListing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 100vh;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    display: flex;
    justify-content: center;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    transform: translate(-50%, -50%);
    font-size: 16px;
    z-index: 10000;
    box-sizing: border-box;
}

.selectedListingPhotos {
    display: grid;
}

.selectedListingPhoto {
    display: flex;
    justify-content: column;
    max-height: 50%;
    max-width: 100%;
}

.selectedListingInfo {
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-size: 16px;
    line-height: 24px;
    max-width: 30%;
}

.selectedListingPrice {
    font-size: 36px;
    font-weight: 700;
    padding: 20px, 20px, 20px, 20px;

}

.selectedListingBdBa {
    font-size: 15px;
    line-height: 1.5;
    padding: 0px, 0px, 0px, 20px;
}

.selectedListingAddress {
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-size: 18px;
    padding: 20px, 20px, 20px, 20px;
}