.modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10000;
}

.modal-child-login,
.modal-child-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 500px;
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
    transform: translate(-50%, -50%);
    font-size: 16px;
    padding: 40px 30px 40px 30px;
    z-index: 10000;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jillow-title {
    font-family: "Ivar Headline", "Ivar Headline Subset", "Adjusted Times", "Adjusted Times New Roman", "Times New Roman", serif;
    font-weight: 700px;
    font-size: 28px;
    line-height: 32px;
    text-align: center;
}

.signinnout {
    display: flex;
    align-items: flex-start;
    margin-top: 24px;
    margin-bottom: 12px;
}

.sign-in-wrapper {
    padding-bottom: 15px;
    border-bottom: 2px;
}

.sign-up-wrapper {
    padding-bottom: 15px;
    border-bottom: 2px;
}

.signinnout {
    display: flex;
    margin-top: 24px;
    margin-bottom: 12px;
}

.modal-submit {
    align-items: center;
    background-color: rgb(0, 106, 255);
    border-bottom-color: rgb(0, 106, 255);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(0, 106, 255);
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: flex;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-size: 16px;
    font-weight: 200px;
    height: 44px;
    justify-content: center;
    line-height: 24px;
    position: relative;
    transition-duration: 0.2s;
    width: 100%;
    margin: 20px 0;
    &:hover {
        background-color: rgb(13, 69, 153);
        border-bottom-color: rgb(13, 69, 153);
    }
}

.input-parent {
    margin-left: 0 40px;
}

#email-password {
    font-size: 16px;
    display: flex;
}

#sign-in,
#sign-up {
    background-color: transparent;
    border: none;
    &:hover {
        color:rgb(0, 106, 255);
        border-bottom: 2px, rgb(0, 106, 255);
    }
}

.tab-clicked {
    border-bottom: 5px solid rgb(0, 106, 255);
    padding-bottom: 12px;
}

.user-input {
    border-style: solid;
    border-color: rgb(209, 209, 213);
    height: 30px;
    width: 360px;
    border-radius: 6px;
    margin-top: 10px;
}

.user-input:hover {
    border-color: rgb(0, 106, 255)
}

.divider {
    position: absolute;
    width: 400px;
    top: 120px;
}

.demo-submit {
    background-color: black;
    color: white;
    margin-top: 30px;
    height: 40px;
    width: 360px;
    &:hover {
        background-color: white;
        color: black;
    }
}

.header-tab-container {
    width: 100%;
}

.bottom-divider {
    width: 400px;
}

.connect-tag {
    color: rgb(42, 42, 51);
    text-transform: none;
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 10px;
}

.errors {
    font-family: "Open Sans", "Adjusted Arial", Tahoma, Geneva, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-top: 4px;
    color: rgb(163, 0, 11)
}