.navbar-content {
    display: flex;

}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    margin: auto;
}

.navbar-items-parent {
    display: flex;
    justify-content: space-evenly;
    width: 100%
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
    margin: auto;
}

.navbar-item {
    font-size: 18px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        color: #006aff;
        border: #006aff;
    }
    &:focus {
        border: #006aff;
    }
    
}

.navbar-title {
    font-size: 40px;
    margin: 40px;
    font-family: serif;
    font-weight: bold;
    color: #006aff;
}

.dropdown:active {
    background-color: black;
}