.navbar-content {
    display: flex;

}

.navbar-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1280px;
    margin: auto;
}

.navbar-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1280px;
    margin: auto;
}

.navbar-item {
    margin: 6px;
    font-size: 18px;
    text-decoration: none;
    font-family: sans-serif;
    color: black;
    border: none;
    
}

.navbar-item:hover {
    color: #006aff;
}

.navbar-item:focus {
    border: #006aff;
}

.navbar-title {
    font-size: 40px;
    margin: 40px;
    font-family: serif;
    font-weight: bold;
    color: #006aff;
}